body {
    padding-top: 5rem;
}

.imgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

img{
    height: 250px;
    width: 350px;
}

#imgItem{
    grid-column: auto;
    grid-row: auto;
}